body {
    background-color: rgb(255);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#title {
	text-align: center;
}

#subtitle {
	text-align: center;
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}
